1) Store marks of 5 subjects
	here use marks as actual data and subject names as indexes.
Accept both marks and subjects from the user.

In [ ]:
from pandas import *

sub_mark={}
for i in range (5):
  subs=input("Enter the subjects : ")
  mks=int(input("Enter the marks : "))
  sub_mark.update({subs:mks})

myseries=Series(sub_mark)
print(myseries)

Enter the subjects : Marathi
Enter the marks : 94
Enter the subjects : English
Enter the marks : 81
Enter the subjects : Science
Enter the marks : 90
Enter the subjects : Maths
Enter the marks : 99
Enter the subjects : Hindi
Enter the marks : 76
Marathi    94
English    81
Science    90
Maths      99
Hindi      76
dtype: int64

2) create dictionary to store player name and runs scored of at least 5 players. Display it. Now convert this dictionary â€Œinto Series object and print it.

In [ ]:
from pandas import *

player_run={"Sachin":101,"Virat":95,"Dhoni":99,"Rohit":83,"Ashwin":76}
print(player_run)

myseries=Series(player_run)
print("Dictionary converted into Series: ")
print(myseries)

{'Sachin': 101, 'Virat': 95, 'Dhoni': 99, 'Rohit': 83, 'Ashwin': 76}
Dictionary converted into Series:
Sachin    101
Virat      95
Dhoni      99
Rohit      83
Ashwin     76
dtype: int64

3) accept 10 values and store them in the Series. Now perform following operations:

a) display the entire Series

b) extract 3rd element

c) extract elements from 4 to 7

d) extract elements from fourth last till the last element

e) extract first 3 elements

f) extract elements from the 5th position

In [8]:
ls=[]
for i in range(10):
  num=int(input("Enter the number : "))
  ls.append(num)

srs=Series(ls)
print("Series : \n",srs)

print("3rd element : \n",srs[2])

print("Elements from 4 to 7 : \n",srs[4:8])

print("Elements from 4th last till last : \n",srs[-4:])

print("first 3 elements : \n",srs[:3])

print("from 5th position : \n",srs[5])

Enter the number : 9
Enter the number : 3
Enter the number : 4
Enter the number : 7
Enter the number : 5
Enter the number : 1
Enter the number : 10
Enter the number : 8
Enter the number : 6
Enter the number : 2
Series :
 0     9
1     3
2     4
3     7
4     5
5     1
6    10
7     8
8     6
9     2
dtype: int64
3rd element :
 4
Elements from 4 to 7 :
 4     5
5     1
6    10
7     8
dtype: int64
Elements from 4th last till last :
 6    10
7     8
8     6
9     2
dtype: int64
first 3 elements :
 0    9
1    3
2    4
dtype: int64
from 5th position :
 1

4) accept 5 values in a Series and perform the following operations:
  
   a) display their sum
  
  b) add the value accepted from the user
  
  c) subtract the value accepted from the user
  
  d) multiply the value accepted from the user
  
  e) add the value accepted from the user

In [2]:
from pandas import *

ls=[]
for i in range(5):
  num=int(input("Enter the number : "))
  ls.append(num)

srs=Series(ls)
print(srs)

print("Sum of elements of series : ",sum(srs))

num=int(input("Enter the number to be added : "))
print(srs.add(num))

num=int(input("Enter the number to be subtracted : "))
print(srs.sub(num))

num=int(input("Enter the number to be multiplied : "))
print(srs.mul(num))

Enter the number : 10
Enter the number : 20
Enter the number : 30
Enter the number : 40
Enter the number : 50
0    10
1    20
2    30
3    40
4    50
dtype: int64
Sum of elements of series :  150
Enter the number to be added : 5
0    15
1    25
2    35
3    45
4    55
dtype: int64
Enter the number to be subtracted : 6
0     4
1    14
2    24
3    34
4    44
dtype: int64
Enter the number to be multiplied : 3
0     30
1     60
2     90
3    120
4    150
dtype: int64

5) accept 5 names,designations and salaries and display them with DataFrame.

In [13]:
from pandas import *

ls1=[]
ls2=[]
ls3=[]

for i in range(5):
  name=input("Enter name : ")
  dsgn=input("Enter designation : ")
  sal=int(input("Enter salary : "))
  ls1.append(name)
  ls2.append(dsgn)
  ls3.append(sal)
data={"Name":ls1,"Designation":ls2,"Salary":ls3}

dataframe=DataFrame(data)
print(dataframe)

Enter name : Rohit
Enter designation : Project Manager
Enter salary : 10000
Enter name : Rita
Enter designation : Project Associate
Enter salary : 8000
Enter name : Rishi
Enter designation : Reasearch Manager
Enter salary : 15000
Enter name : Roshan
Enter designation : Research Associate
Enter salary : 9000
Enter name : Rohan
Enter designation : Project Assistant
Enter salary : 6000
     Name         Designation  Salary
0   Rohit     Project Manager   10000
1    Rita   Project Associate    8000
2   Rishi   Reasearch Manager   15000
3  Roshan  Research Associate    9000
4   Rohan   Project Assistant    6000

6) create a csv file (with whatever columns and rows you want) manually and then read using pandas.

In [ ]:
from pandas import *

serial_no=[1,2,3,4,5]
product=["laptop","mobile","washing machine","fan","tv"]
price=[35000,10000,8000,2000,19000]

data={"Serial no":serial_no,"Products":product,"Price":price}
dataframe1=DataFrame(data)

dataframe1.to_csv("Example_6.csv")

dataframe2 = read_csv("Example_6.csv")
print(dataframe2)

7) create "Vita.xlsx" using pandas. In this Excel file you have to create 2 sheets "DBDA", and "DAC".
in each sheet you have to write name,address and age of all the team leaders.
make sure Excel file gets created successfully.

In [ ]:
import pandas as pd

name1 = ["Rohit","Roshan","Rita","Rutuja","Rohan"]
address1 = ["Mumbai","Delhi","Nagpur","Punjab","Nashik"]
age1 = [25,24,22,26,21]

mydictionary1 = {'Name':name1,'Address':address1,'Age':age1}
mydataframe1 = pd.DataFrame(mydictionary1)



name2=["Rishi","Pooja","Akshay","Deepa"]
address2=["Gurgaon","Palghar","Chennai","Pune"]
age2=[21,22,24,21]

mydictionary2={'Name':name2,'Address':address2,'Age':age2}
mydataframe2=pd.DataFrame(mydictionary2)

print(mydataframe1)
print("\n")
print(mydataframe2)

with pd.ExcelWriter('Vita.xlsx') as mywriter:
    mydataframe1.to_excel(mywriter, sheet_name='DBDA_sheet',index=False)
    mydataframe2.to_excel(mywriter, sheet_name='DAC_sheet',index=False)